/* rest  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics  */
html{
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Rubik Mono One', sans-serif;
}

h1{
    font-size: 47px;
    font-weight: bold;
    text-align: center;
}

/* utils  */
.container{
    width: 40%;
    margin: auto;
}

.full-page{
    height: 100vh;
}

/* main  */
#vans{
    background-color: red;
    color: yellow;
}

#vans>.shoe, #tomy>.shoe{
    translate: 0 20%;
}

#tomy{
    background-color: green;
    color: yellow;
}

#converse{
    background-color: yellow; 
    color: green;  
    position: relative; 
}

#converse>.shoe{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.shoe img{
    max-width: 100%;
}


/* navigate side  */
.side-bar ul{
    list-style-type: none;
    position: fixed;
    top: 10px;
    right: 5px;
}

.side-bar a{
    background-color: white;
    color: black;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px 2px gray;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.side-bar a:hover{
    scale: 1.2;
}

.side-bar a:active{
    scale: 1;
}
